body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(norma.png) no-repeat center center fixed ;
  background-size: cover;

}
 
#main { 
  margin: 5% auto 5% auto;
  background: rgba(196, 196, 196, 0.9) ;
  border-radius: 24px;
  width: 66%;
  
}

.login-logo {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

#div11 {
  
  display: flex;
  justify-content: center;
}

#wrapper {
  margin: auto auto 5% auto;
  
}
.content {
  display: flex;
  justify-content: center;
  
}

.inside {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
}

.footer {
  display: flex;
  justify-content: center;
}
 
.one {

display: flex;
justify-content: center;
}

.two {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
}

.singandlog {
 display: flex;
 justify-content: center;
 max-width: 100%;
margin-top: 1em;
}





input[type=submit]{
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  border: 1px solid black;
  margin-left: 35px;
  font-style: normal;
  
  
}
 

.singandlog a  {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  text-decoration: none;
  font-size: 1.28em;
  border: 1px solid black;
  font-weight:500;
  color: black;
  margin-right: 3em;
  padding: 1px 6px;

}

.two a {
  text-decoration: none;
  text-decoration-color: black;
  text-decoration-line: none;
}
 
input:active {
  -moz-text-decoration-color: none;
}
.a {
  text-decoration: none;
}
.two a:hover {
  color: black;

}
.input[type="email" i]{
  height: 15px;
  width: 20px;
}

#user_email {
  height: 25px;
  width: 250px;
}

#user_password {
  height: 25px;
  width: 250px;
}

#user_remember_me {
  width: 1.5em;
  height: 1.5em;
}

.field_rem {
  font-size: 1.5em;
}



.forgotpas{
  font-size: 35px;
}

img.action {
  width: 24px;
  height: 24px;
}



.main-panel-content{
  margin: 5% auto 5% auto;
  background: rgba(196, 196, 196, 0.9) ;
  border-radius: 24px;
  width: 66%;
}
.closday{
  font-size: 35px;  
}
.main-panel-content-one{
  height: 750px;
  width: 100%;  
}

.info{
  display: flex;
  justify-content: center;
}
 .nametask, .imgfunctione {
   display: inline-block;

 }
 .nametask{
  display: flex;
  justify-content: left;

 }
 .imgfunctione{
   display: flex;
   justify-content: right;
 }





 .tasks_forg {
   display: flex;
   justify-content: center;
   padding: 0 0 5% 0;
 }

 .new_user {
   
   padding: 0 0 5% 0;
 }

 .field {
   display: flex;
   justify-content: center;
   margin: 0 0 5% 0;
 }

 .Login a {    
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 117px;
  margin-left: 40%;
}

.Login a {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 35px;
  border: 1px solid black;
}




.experemental{
  display: flex;
  justify-content: center;
}


.task_sign {
  display: flex;
  justify-content: center;
  
}

#user_full_name {
  height: 25px;
  width: 250px;
}

#user_password_confirmation {
  height: 25px;
  width: 250px;
}

#new_user .actions {
  margin:auto;
}

.actions_taskf {
  padding-top: 1px;
}


.actions_newp {
 display: flex;
 justify-content: center;
}


.main-panel-content-one