body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(norma.png) no-repeat center center fixed ;
  background-size: cover;

}
 
#main { 
  margin: 5% auto 5% auto;
  background: rgba(196, 196, 196, 0.9) ;
  border-radius: 24px;
  width: 66%;
  
}

.login-logo {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

.login-logo .h3 {
  font-style: normal;

}

#div11 {
  
  display: flex;
  justify-content: center;
}

#wrapper {
  margin: auto auto 5% auto;
  
}
.content {
  display: flex;
  justify-content: center;
  
}

.inside {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
}

.footer {
  display: flex;
  justify-content: center;
}
 
.one {

display: flex;
justify-content: center;
}

.two {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
}

.singandlog {
 display: flex;
 justify-content: center;
 max-width: 100%;
margin-top: 1em;
}





input[type=submit]{
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  border: 1px solid black;
  margin-left: 35px;
  font-style: normal;
  
  
}
 

.singandlog a  {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  text-decoration: none;
  font-size: 1.28em;
  border: 1px solid black;
  font-weight:500;
  color: black;
  margin-right: 3em;
  padding: 1px 6px;

}

.two a {
  text-decoration: none;
  text-decoration-color: black;
  text-decoration-line: none;
}
 
input:active {
  -moz-text-decoration-color: none;
}
.a {
  text-decoration: none;
}
.two a:hover {
  color: black;

}
.input[type="email" i]{
  height: 15px;
  width: 20px;
}

#user_email {
  height: 25px;
  width: 250px;
}

#user_password {
  height: 25px;
  width: 250px;
}

#user_remember_me {
  width: 1.5em;
  height: 1.5em;
}

.field_rem {
  font-size: 1.3em;
  font-style: normal;
}



.forgotpas{
  font-size: 35px;
}

img.action {
  width: 24px;
  height: 24px;
}



.main-panel-content{
  margin: 5% auto 5% auto;
  background: rgba(196, 196, 196, 0.9) ;
  border-radius: 24px;
  width: 66%;
}
.closday{
  font-size: 35px;  
}
.main-panel-content-one{
  height: 750px;
  width: 100%;  
}

.info{
  display: flex;
  justify-content: center;
}

.table-letter {
  display: inline-block;
  position: relative;
  background-color:;
}

.close-theday {
  display: flex;
  justify-content: center;
} 
 .nametask{
  display: flex;
  justify-content: center;
  padding-top: 1em;

 }

 .task {
   padding-top: 4em;
   padding-left: 4em;
   
   
 }


 .imgfunctione{
   padding-left: 25em;
   text-decoration: none;
 }

 .imgfunctione a {
   padding: 0.3em;

 }

.button-ok {
  padding-left: 5em;
  text-decoration: none;
  text-decoration-color: black;
  text-decoration-line: none;
}



 .tasks_forg {
   display: flex;
   justify-content: center;
   padding: 0 0 5% 0;
 }

 .new_user {
   
   padding: 0 0 5% 0;
 }

 .field {
   display: flex;
   justify-content: center;
   margin: 0 0 5% 0;
 }

 .Login a {    
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 117px;
  margin-left: 40%;
}

.Login a {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 35px;
  border: 1px solid black;
}

.user_info {
  padding-left: 1.5em;
}
.user_info a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.user-data {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 1.2em;
  border: 1px solid black;
}

a.action {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 1.2em;
  border: 1px solid black;
}
.experemental{
  display: flex;
  justify-content: center;
}


.task_sign {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

#user_full_name {
  height: 25px;
  width: 250px;
}

#user_password_confirmation {
  height: 25px;
  width: 250px;
}

#new_user .actions {
  margin:auto;
}

.actions_taskf {
  padding-top: 1px;
}


.actions_newp {
 display: flex;
 justify-content: center;
}

.button-one {
  padding-left: 3em;
}



.link-al {
  padding-left: 45%;
  padding-top: 5%;
  padding-bottom: 2%;
  
}

.link-al a{
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 1.2em;
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
}

.action-done {
  width: 1.75em;
  height: 1.75em;
  padding-left: 70%;
  margin-right: 0.7em;
}

.action-d2{
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.7em;
  
}

.action-d3{
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.7em;
  
}

a:-webkit-any-link {
 text-decoration: none;
}

#wrapper h2 {
  display: flex;
  justify-content: center;
}


#user_current_password {
  height: 25px;
  width: 250px;
}

#edit_user .actions {
  display: flex;
  justify-content: center;
  padding-right: 1.5em;
}

.cancle {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding-right: 2em;
}

.unhappy {
  display: flex;
  justify-content: center;
}

#wrapper .button_to {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-left: 37em;
}

.link_back {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-left: 0.7em;
}

.link_back a {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 1.2em;
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.add_newt {
  display: flex;
  justify-content: center;
}

.add_field-menu .long {

  height: 25px;
  width: 170px;
}

.add_field-menu .field .caption {
  opacity: 0;
}

.add_field-menu .field .datetime {
  margin-right: 5.6em;
  height: 25px;
  width: 170px;
}

.add_field-menu .field .caption_1{
  padding-top: 0.2em;
}

.add_field-menu .field .field-caption {
  margin-right: 3.6em;
}

.add_field-menu .actions-button {
  padding-bottom: 2em;
  
}

.add_field-menu .action_button {
  margin-left: 20em;
  
}
.all-task {
  display: flex;
  justify-content: center;
}

.button_addtask {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  
}

.button_addtask .button-one  {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 1.2em;
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.button_addtask .button-one {
  margin-right: 0.3em;
}

.button_addtask .button-two  {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.18) 0%, #A8F98B 100%);
  border-radius: 22px;
  font-size: 1.2em;
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}